

<article class="row" id="section-slider">

	<div class="container">

		<div class="swiper-container">
			<a class="arrow-left" href="#"></a> 
			<a class="arrow-right" href="#"></a>

			<div class="swiper-wrapper">
				<section class="swiper-slide">
					<div class="row">
						<div class="text">
							<h2>Márkus Elixír</h2>
							<p>A világban minden létező a kiegyenlítődés, az egyensúly megvalósulása felé tart,nincs ez másként emberi világunkban sem. <b>A testi és lelki egyensúly harmóniáját sokunknak azonban nehéz elérni</b> és a mindennapi élethelyzetek ezt naponta bonyolítják is.
							</p>
							<p>Dr. Márkus István munkássága alatt dolgozta ki a Márkus Elixír receptjét, amely segíti a szervezet ideális állapotának elérését. Naponta cseppek formájában vezet hozzá a kiegyensúlyozott, egészséges élethez a</p>
						</div>
						<div class="image">
							<img src="i/content/markus-packshot-1.png" alt="" class="img-responsive">
						</div>
	
					</div>				
				</section>

				<section class="swiper-slide">
					<div class="row">
						<div class="col-sm-6 text-center">
							<h2>Márkus Elixír</h2>
							<p>A világban minden létező a kiegyenlítődés, az egyensúly megvalósulása felé tart,nincs ez másként emberi világunkban sem. <b>A testi és lelki egyensúly harmóniáját sokunknak azonban nehéz elérni</b> és a mindennapi élethelyzetek ezt naponta bonyolítják is.
							</p>
							<p>Dr. Márkus István munkássága alatt dolgozta ki a Márkus Elixír receptjét, amely segíti a szervezet ideális állapotának elérését. Naponta cseppek formájában vezet hozzá a kiegyensúlyozott, egészséges élethez a</p>
						</div>
						<div class="col-sm-6">
							<img src="i/content/markus-packshot-1.png" alt="" class="img-responsive">
						</div>
	
					</div>				
				</section>

				<section class="swiper-slide">
					<div class="row">
						<div class="col-sm-6 text-center">
							<h2>Márkus Elixír</h2>
							<p>A világban minden létező a kiegyenlítődés, az egyensúly megvalósulása felé tart,nincs ez másként emberi világunkban sem. <b>A testi és lelki egyensúly harmóniáját sokunknak azonban nehéz elérni</b> és a mindennapi élethelyzetek ezt naponta bonyolítják is.
							</p>
							<p>Dr. Márkus István munkássága alatt dolgozta ki a Márkus Elixír receptjét, amely segíti a szervezet ideális állapotának elérését. Naponta cseppek formájában vezet hozzá a kiegyensúlyozott, egészséges élethez a</p>
						</div>
						<div class="col-sm-6">
							<img src="i/content/markus-packshot-1.png" alt="" class="img-responsive">
						</div>
	
					</div>				
				</section>
			</div>
		<div class="pagination"></div>
		</div>
	</div>


</article>

<article id="features">
	<div class="container">

		<header>
			<h2>107 féle gyümölcsvirág kivonatot tartalmaz...</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint aut ducimus aperiam fuga quaerat provident voluptate, veritatis magnam laboriosam eos! Commodi ut sapiente delectus laudantium quos deleniti quis similique a.</p>
		</header>

		<div class="group group-1">
			<div class="featured-item">
				<img src="i/content/flower-drop-1.png">
				<h4>cseresznyevirág</h4>
			</div>
			<div class="featured-item">
				<img src="i/content/flower-drop-2.png">
				<h4>szilvavirág</h4>
			</div>
			<div class="featured-item">
				<img src="i/content/flower-drop-3.png">
				<h4>szőlővirág</h4>
			</div>
			<div class="featured-item">
				<img src="i/content/flower-drop-4.png">
				<h4>sárgabarackvirág</h4>
			</div>
		</div>
		<div class="group group-2">
			<div class="featured-item">
				<img src="i/content/flower-drop-5.png">
				<h4>meggyvirág</h4>
			</div>
			<div class="featured-item">
				<img src="i/content/flower-drop-6.png">
				<h4>kamilla</h4>
			</div>
			<div class="featured-item">
				<img src="i/content/flower-drop-7.png">
				<h4>mandulavirág</h4>
			</div>
		</div>
		<div class="group text-center">
			<a href="#" class="btn btn-primary">további információk</a>
		</div>
	</div>
</article>



<article id="about">
	<div class="container">

		<header>
			<h2>107 féle gyümölcsvirág kivonatot tartalmaz...</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint aut ducimus aperiam fuga quaerat provident voluptate, veritatis magnam laboriosam eos! Commodi ut sapiente delectus laudantium quos deleniti quis similique a.</p>
		</header>

		<div class="row">
			<div class="col-sm-6">
				<p>			A termék megalkotója Dr. Márkus István, aki életében felismerte a homeopátia és a hagyományos orvoslás egymás mellett működésének előnyeit. Célja egy olyan szer kialakítása volt, amely a test-lélek- szellem együttes gyógyítására tud hatni egyszerre. Kutatásai és munkássága során világossá vált számára, hogy a különböző tünetekkel és betegségekkel jelentkező páciensek  problémái jellemzően csoportosíthatóak  egy-egy kritikus témakörbe. Az egyes nehézségek gyógyításának módja kis számú csoportokra osztható. A feladat tehát orvosként a megállapított alapprobléma-csoport  megoldására törekvés lett, amely által az öngyógyítás beindítása a cél.
				</p>


				<p>Az ismert homeopata gyógyító módszereknél különböző tendenciák jellemzők, ezt Dr. Márkus István klinikai orvoslás tudása bővítette ki. Hivatása alatt  megismerte, hogy a növényi eredetű szerek kimutathatóan hatásosak, hiteles vizsgálatok bizonyítják jótékony hatásukat.
				</p>


				<p>Az élet a szimmetrikus egyensúlyban tud kiteljesedni. Az egyensúlyra törekvés szerint kiegyenlítődik minden, különben probléma = betegség valamilyen megfordulása lép fel először lelkünkben, amely a későbbiekben testi tünete(ke)t produkál.
				</p>
				<p>Mindennapi teendőinkben is az „arany középútra” törekszünk, azok a dolgok, cselekvések vagy viselkedések, amelyek egyoldalúak vagy szélsőségesek, egy idő után nem kívánatosak lesznek saját magunk vagy környezetünk számára. Jellemző ez életformára, felerősödött tulajdonságra egyaránt, hogy előbb-utóbb ellenpólust kíván, hogy megtörténhessen az egyensúlyi állapot beállta.
				</p>

			</div>
			<div class="col-sm-6">


				<p>Általánosságban a nyugodt és kiegyensúlyozott helyzetben lévő személyek sohasem betegek, míg a hosszan tartó stressz hatására egyre több vagy egymást váltó betegségek alakulnak ki mindenkinél. A lelki problémák okoznak testi tüneteket.
				</p>
				<p>Az orvos feladata a fizikai tünetek kezelése, legvégső esetben műtéti beavatkozás lehetősége, hogy a beteg újragondolja életét, változtasson rajta és megtalálja azok megoldásait. Fontos azonban, hogy a kiváltó okokat a lélekben kell megoldani, annak érdekében, hogy ne csak a fizikai tünetek megszüntetését eredményezze, hanem a gyógyulás valóban életre szólóan tartós legyen.
				</p>
				<p>A lelki problémák megoldására az egyedileg kialakított 100 Kárpád-medencei gyógynövény egyedi komplex keveréke ad megoldást.
				</p>
				<p>A virág eszenciák összessége, amely minden ember speciális tulajdonságait figyelembe véve segít elindítani a  harmonizálást és ezáltal az öngyógyítást.
				</p>


				<p>Az ember testében áramló életenergiák lelki nyugalom esetén könnyedén és akadálymentesen zajlanak. Amikor valamilyen lelki gond adódik és az hosszú távon fennáll, egy gátló tényező keletkezik, amely akadályozza a kiegyensúlyozott áramlást. A Márkus Elixír ezeket a gátakat blokkolja és oldja fel, amely révén a lassan elindítja a probléma feldolgozását.
				</p>

			</div>
		</div> 



	</div>
</article>


