<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Márkus Elixír – vissza a gyökerekhez</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="fonts/stylesheet.css" media="screen">
    <link rel="stylesheet" href="css/styles.css" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	
	<div class="infobar-top">
			<div class="container">
		        <div class="row">
		            <div class="col-sm-6">
		            	<b>Bevásárló kosár</b>
		            	<a>
		            		<span class="sc-button"></span>
		            		<span id="cart-total"> 0 Elem - <strong>0 Ft</strong></span>
		            	</a>
			            <span id="CartButtons" class="content"><span class="empty">Kosara jelenleg üres</span></span>
			        </div>
			        <div class="col-sm-6">
		                 <div id="welcome" class="pull-right">Üdvözöljük <a href="/Account/LogOn">Bejelentkezés</a> vagy <a href="/Account/Register">Register</a></div>
		    	    </div>
		        </div>
		    </div>
	</div>



    <div class="navbar navbar-default">
      	<div class="logo">
      		<a href="/"><img src="i/content/markus-logo-white.svg" alt="Márkus Elixír"></a>
      	</div>
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse  collapse" id="navbar-main">
          <ul class="nav navbar-nav">

	          <li class="active"><a href="#">Rólunk</a></li>
	          <li><a href="#">Dr. Márkus István</a></li>
	          <li><a href="#">Kapcsolat</a></li>
	          <li><a href="#">Termék rendelése</a></li>
	          <li><a href="#">Ügyfélkapu</a></li>
	          <li><a href="#">Információk</a></li>
          </ul>


        </div>
      </div>
    </div>
	
	{{> body  }} 


      <footer>
        <div class="container">
            <div class="row">
				<div class="col-lg-12">
			          <ul class="nav navbar-nav">
				          <li class="active"><a href="#">Rólunk</a></li>
				          <li><a href="#">Dr. Márkus István</a></li>
				          <li><a href="#">Kapcsolat</a></li>
				          <li><a href="#">Termék rendelése</a></li>
				          <li><a href="#">Ügyfélkapu</a></li>
				          <li><a href="#">Információk</a></li>
			          </ul>
		            <p>2014 ©  Márkus Elixír</p>
		          </div>
	        </div>
        </div>
      </footer>

    <script src="js/app.js"></script>
  </body>
</html>
